:root {
    --branco-principal: #FFFFFF;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #3C92FA;
    --cinza-secundario: #C0C0C0;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}

.principal {
    align-items: center;
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    border-radius: 5px;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    display: block;
    padding: 1rem;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    border: 2px solid var(--branco-principal);
    box-shadow: var(--botao-azul) 0px 0px 6px;
    text-shadow: var(--cor-de-fundo) 0px 0px 2px;
    transition: 1ms;
}

.botao--transparente {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 5px;
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    color: var(--branco-principal);
    font-weight: 700;
    font-size: 47px;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;  
    margin: 5em 0;
}

.dispositivos__titulo {
    color: var(--branco-principal);
    font-size: 48px;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    margin: 5em 3em;
    text-align: center;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    color: var(--cinza-secundario);
    margin-left: 1em;
    text-decoration: none;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.rodape__direitos {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 1em 0;
}

@media screen and (max-width: 1023px) and (min-width:426px) {
    .container__caixa {
        margin: 3rem 6rem;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        justify-content: space-around;
    }

    .resize {
        width: 100%;
    }

    .dispositivos__titulo {
        font-size: 36px;
    }

    .dispositivos__lista {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .rodape__lista {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    body {
        text-align: center;
    }

    .container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 1rem auto;
        width: 90%;
        height: auto;
    }

    .container__caixa {
        margin: 8rem auto;
    }

    .container__botao {
        width: 90%;
    }

    .container__caixa img {
        width: 80%;
    }

    .container__titulo, .lista__item {
        font-size: 1.5rem;
    }

    .descricao__titulo {
        font-size: 2rem;
    }

    .resize, .dispositivos__lista img { 
        width: 100%;
    }

    .dispositivos__titulo {
        font-size: 1.6rem;
    }

    .dispositivos__lista, .rodape__lista {
        flex-direction: column;
    }
}
